/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-content {
  position: relative;
  margin: auto;
  padding: 20px;
  background: white;
  z-index: 1001;
  width: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.notification-item-truncate {
  display: -webkit-box;
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  line-height: 1.3;
  max-height: 2.6rem;
}

.PhoneInputCountry {
  gap: 10px;
}

html[dir="ltr"] .PhoneInputCountry {
  direction: rtl;
}


.recharts-tooltip-cursor {
  display: none !important;
}